/**
 * Created by User on 11/10/18.
 */
html{
    font-size: 13px;
    height: 100%;
    background: #ffffff;
    margin: 0 auto;
}

body{
    overflow-x: hidden;
}

.wrapper {
    height: 100%;
}

#menu-toggle{
    float: right;
    font-size: 15px;
    color: #28a745;
}

textarea {
    resize: none;
}

.viewlogs{
    float: right;
    margin-top: 20px;
}

/*CLOCK*/

.clock a {
    text-decoration:none;
}

.clock h1 {
    text-align:center;
}

.clock h1 small{
    font: 20px;
    text-transform:uppercase;
    line-height: 20px;
    display: block;
}


.clock h2, p {
    margin-bottom:10px;
}


.clock .container {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    width:500px;
    margin:0 auto;
    padding:20px;
    border:1px solid #d7d7d7;
    border-radius: 10px;
    color: #000000;
}

.clock #Date {
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size:15px;
    text-align:center;
    color: #28a745;
    margin: 0;
    margin-left: -7px;
}

.clockcontainer{
    margin-top: 50px;
}

.prevlogcontainer{
    margin-top: 10px;
}

.clock ul {
    width:400px;
    margin:0 auto;
    list-style:none;
    text-align:center;
    margin-left: 0;
}

.clock ul li {
    display:inline;
    font-size:70px;
    text-align:center;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.clock #point {
    position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite;
    padding-left:10px;
    padding-right:10px;
}


/*CLOCK*/

/*PREV LOG*/
.log{
    width: 100%;
}

.note{
    margin-bottom: 10px;
}

.prevlog {
    width:500px;
    padding:20px;
    border:1px solid #d7d7d7;
    border-radius: 10px;
    color: #000000;
    margin: 0 auto;
    height: 200px;
}

.plog-label{
    font-size: 15px;
    color: #28a745;
}

.prev-log-time{
    font-weight: 500;
    font-size: 30px;
}

.small{
    font-size: 15px;
}

.plog-right{
    padding: 0 0 0 10px;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: hidden;
    border-left: 1px solid #d7d7d7;
}

.plog-left{
    padding: 0 10px 0 0;
    float: left;
}

/*PREV LOG*/


/*SIDEBAR*/
#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #28a745;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/*SIDEBAR */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }
    #wrapper.toggled {
        padding-right: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/*SIDEBAR*/



/*All Logs*/

.al-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #28a745;
}

table th, table tfoot{
    border-color: #d7d7d7 !important;
    color: #28a745;
}

table{
    line-height: 10px;
    border: 1px solid #d7d7d7;
}


.tbl-custom input{
    border-radius: 5px;
    border: 1px solid #d7d7d7;
}

#tblLogs_info, #tblLogs_paginate{
    margin-top: 15px;
}

#tblLogs_length, #tblLogs_filter{
    margin-bottom: 15px;
}

#tblLogs.dataTable.no-footer {
    border: 1px solid #d7d7d7;
}

.fa-caret-left{
    color: #28a745;
}
/*All Logs*/