<!DOCTYPE html>
<html>
<head>
    <title>Toire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'toire/jscss/bootstrap-4.0.0/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'toire/jscss/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'toire/jscss/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'toire/jscss/site.css' %}">
</head>
<body>
    <div id="wrapper">
        <div class="container tbl-custom">
            <h1 class="al-title">
                <a href="http://127.0.0.1:8000/watch"><span title="Back" class="fa fa-caret-left"></span></a> &nbsp;All Logs
            </h1>
            <table id="tblLogs" class="display">
                <thead>
                <tr>
                    <th>Time logged</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>


<script type="text/javascript" src="{% static 'toire/jscss/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/DataTables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/site.js' %}"></script>
</html>