<strong>User:</strong> {{ username }}
<br/ >
<strong>  ID:</strong> {{ user_id }}
<br/ >
<strong>Lazy?</strong> {{ is_lazy }}

{% comment %}
<ul>
	{% for k, v in attrs %}
		<li> {{k}} : {{v}} </li>
	{% endfor %}
</ul>
{% endcomment %}