
<!DOCTYPE html>
<html>
<head>
    <title>Toire</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/toire/jscss/bootstrap-4.0.0/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/toire/jscss/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/toire/jscss/site.css' %}">
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#menu-toggle2" id="menu-toggle2">
                    <span class="fa fa-bars"></span> Recent Logs
                </a>
            </li>
            {% for b in arecords %}
            <li>
                {{ b.time }}|{{ b.note }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="logs" id="menu-toggle"><span class="fa fa-bars"></span> Logs</a>
        <div class="container">
            <div class="clockcontainer">
                <div class="clock">
                    <ul>
                        <li id="hours">10</li>
                        <li id="point">:</li>
                        <li id="min">13</li>
                    </ul>
                    <div id="Date">Monday 14 January 2013</div>
                    <hr />
                    <form action="{% url 'toire:index' %}" method="post">
                        {% csrf_token %}
                        <textarea id="notes" class="form-control note" placeholder="Your notes here..." name="notes"></textarea>
                        <input type="submit" class="btn btn-success btn-lg log" value="LOG"/>
                    </form>
                </div>
            </div>
         </div>
         {% if records %}
        <div class="container">
            <div class="prevlogcontainer">
                <div class="prevlog">
                    <p class="plog-label">Previous Log</p>
                    <div class="plog-left">
                        <span class="prev-log-time">{{ records.time }}<br/></span>
                    </div>
                    <div class="plog-right">
                        {{ records.note }}
                    </div>
                    <a href="http://127.0.0.1:8000/watch/allLogs/" class="viewlogs">View all</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

</body>
</html>

<script type="text/javascript" src="{% static 'toire/jscss/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/DataTables/datatables.js' %}"></script>
<script type="text/javascript" src="{% static 'toire/jscss/site.js' %}"></script>
